	<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4><%=__("Suneey Service")%></h4>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a target="blank" href="https://www.facebook.com/suneeyservice/"><i class="icon-facebook"></i></a></li>
								<li><a target="blank" href="https://www.instagram.com/suneey_service/"><i class="icon-instagram"></i></a></li>
								<li><a target="blank" href="https://vk.com/suneeyservice"><i class="icon-vk"></i></a></li>

							</ul>
						</p>
					</div>
			

					<div class="col-md-3 offset-md-6 col-md-push-1">
						<h4><%=__('Contact Information')%></h4>
						<ul class="colorlib-footer-links">
							<li><i class='icon-location'> </i>Sebastia 78</li>
							<li><i class='icon-phone2'> </i><a href="tel://1234567920">+ 374-43-50-30-77</a></li>
							<li><i class='icon-mail5'> </i><a href="mailto:info@yoursite.com">suneeytandt@gmail.com</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>

	</body>
</html>

