<%-include('./layouts/header.ejs') %>
<style> 
#business-plan{
  background-image: url('/images/animal-dawn-desktop-backgrounds-875858.jpg');
  min-height: 90vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed


}
</style>
	  <div id="business-plan"  >
      	<div class="container pt-5 ">

        <div class="row ">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="images/business-img.png" class="img-fluid" alt="">
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info text-center">
              <h3  class="mb-4">Մեր Մասին</h3>
              <p>
              <%=__('aboutText')%>
              </p>
            </div>
          </div>
          <!-- End Col -->

        </div>
      </div>
    </div>
		<%-include('./layouts/footer.ejs') %>
