<%-include('./layouts/header.ejs') %>

	  <section id="business-plan"' style='margin-top:20px'>
      	<div class="container">

        <div class="row">
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
            <div class="business-item-img">
              <img src="images/business-img.png" class="img-fluid" alt="">
            </div>
          </div>
          <!-- End Col -->
          <!-- Start Col -->
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="business-item-info text-center">
              <h3 >Մեր Մասին</h3>
              <p>
              <%=__('aboutText')%>
              </p>
            </div>
          </div>
          <!-- End Col -->

        </div>
      </div>
    </section>
		<%-include('./layouts/footer.ejs') %>
