@media screen and (max-width: 992px) {
    .navbar-collapse {
        display:inline-block;
        text-align: center;
        background:rgb(61, 136, 186);
        border-radius:30px
    }

}
.nav-link{
    font-size: 20px;
    color:white!important
}
.card{min-height: 400px;}

.modal-body {
    background-image: url("/images/modal_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-body>div{
    display:flex;
    justify-content: space-around;
    align-items: center
}

.fixed-top.scrolledNav {
    background-color:rgb(61, 136, 186) !important;
    transition: background-color 400ms linear;
  }