<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-image: url('/images/blurred-background-colors-daytime-1250260.jpg');
            background-position: center;
            background-size: cover
        }
    </style>
</head>
<body style="height: 100vh; color:antiquewhite; display:flex; justify-content: center; align-items: center">
    <h1 ><%=text %></h1>

</html>